@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/red-hat-text-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/red-hat-text-v18-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/red-hat-text-v18-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-red: #c7380f;

  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  --color-green: #1ea575;

  --color-black: #000000;
  --color-white: #ffffff;

  /* Typography */
  --font-primary: "Red Hat Text", sans-serif;

  --font-size-preset-1: 5.6rem; /* 56px */
  --line-height-preset-1: 1.209; /* 120.9% line-height */
  --letter-spacing-preset-1: 0;

  --font-size-preset-2: 2.4rem; /* 24px */
  --line-height-preset-2: 1.25; /* 125% line-height */
  --letter-spacing-preset-2: 0;

  --font-size-preset-3: 1.6rem; /* 16px */
  --line-height-preset-3: 1.5; /* 150% line-height */
  --letter-spacing-preset-3: 0;

  --font-size-preset-4: 1.4rem; /* 14px */
  --line-height-preset-4: 1.5; /* 150% line-height */
  --letter-spacing-preset-4: 0;

  --spacing-1100: 88px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100-sm: 8px;
  --spacing-50: 4px;
}

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol li {
  text-decoration: none;
}

.btn{
  border-radius: 999px;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Red Hat Text", sans-serif;
}

.container {
  width: 100%;
  max-width: 1276px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
.grid-container {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
  display: grid;
  grid-template-columns: 67.5% calc(32.5% - 3.2rem);
  gap: 3.2rem;
}

.desserts-title {
  font-size: var(--font-size-preset-1);
  line-height: var(--line-height-preset-1);
  margin-bottom: 3.2rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250.67px, 1fr));
  gap: 2.4rem;
}

.dessert-card{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dessert-card-image {
  width: 100%;
  border-radius:8px;
}

.buttons-wrapper {
  margin-top: -22px;
  align-self: center;
}

.add-to-card-btn-wrapper{
  display: flex;
  align-items:center;
  max-width: 160px;
  width: 100%;
}

.add-to-card-btn {
  border: 2px solid var(--color-rose-400);
  padding: 1.2rem;
  transition: 0.3s;
  background-color: var(--color-white);
}

.add-to-card-btn:hover {
  border-color: var(--color-red);
}

.add-to-card-btn-d-i {
  padding: 1.2rem;
  gap: 0.8rem;
  background-color:var(--color-red);
  border-radius:999px;
}

.add-to-card-btn-d-i p{
color: var(--color-white);
}

.button-icon {
  background-color: transparent;
}

.increment img {
  width: 10px;
}
.increment {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 3.75px;
  cursor: pointer;
}

.decrement {
  padding: 7px 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  border: 1px solid var(--color-white);
}

.dessert-card-category {
}
.dessert-catd-name {
}
.dessert-card-price {
}

/* your card start*/

.yourCard-container {
  background-color: var(--color-white);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
  gap: var(--spacing-300);
}

.yourCard_title {
  font-weight: 700;
  font-size: var(--font-size-preset-2);
  color: var(--color-red);
}

.yourCard-img-text {
  padding: var(--spacing-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.yourCardImg {
  width: 121px;
  height: 101.41px;
  margin-bottom: 2rem;
}

.yourCardWarningMessage {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}

/*  yourCardList */

.yourCardList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.yourCardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yourCardDescription {
  display: flex;
  flex-direction: column;
}
.descriptionTitle {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-900);
}
.descriptonPrice {
  display: flex;
  align-items: center;
  gap: 8px;
}
.length {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-red);
}
.price {
  font-weight: 400;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}

.priseStrong {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}

.border {
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid var(--color-rose-100);
}

.btn-remove {
  padding: 4.37px;
  border: 2px solid var(--color-rose-400);
  border-radius: 50%;
}

.btn-remove img {
  padding: 0;
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-400);
}
.orderTitle {
  font-weight: 400;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-900);
}
.allPrice {
  font-weight: 700;
  font-size: var(--font-size-preset-2);
  color: var(--color-rose-900);
}
.carbon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-rose-50);
  padding: var(--spacing-100);
  border-radius: (var(--spacing-100));
  margin-top: 2rem;
}

.carbon img {
  width: 16.88px;
  height: 17.5px;
}

.modalButton {
  border-radius: 999px;
  margin-top: 2rem;
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  max-height: 53px;
  height: 100%;
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--spacing-200);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  .overfollow {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}

.modal div img {
  width: 42px;
  height: 42px;
}

.modalTitle {
  font-weight: 700;
  font-size: var(--font-size-preset-1);
  color: var(--color-rose-900);
}
.modalSubTitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-rose-900);
}

.modalDecription {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-rose-50);
  padding: var(--spacing-300);
  gap: var(--spacing-300);
  border-radius: 8px;
}
.modalDescriptionText {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.modal_image_text {
  display: flex;
  gap: var(--spacing-200);
}
.textTitle {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-900);
}
.textText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: var(--spacing-100);
}
.text-length {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-red);
}
.text-price {
  font-weight: 400;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}
.priseModal {
  font-weight: 600;
  font-size: var(--spacing-200);
  color: var(--color-rose-900);
}

.sendButton {
  width: 100%;
  margin-top: 3rem;
  border-radius: 999px;
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  max-height: 53px;
  height: 100%;
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--spacing-200);
}

/* your card end */




.button-icon {
  background-color: transparent;
}

.increment img {
  width: 10px;
}
.increment {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  padding: 3.75px;
  cursor: pointer;
}

.decrement {
  padding: 7px 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  border: 1px solid var(--color-white);
}

/* modal start */

.modalList{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-rose-50);
  padding: 24px;
  border-radius:8px;
}


.modalButton {
  border-radius: 999px;
  margin-top: 2rem;
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  max-height: 53px;
  height: 100%;
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--spacing-200);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; }


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 400px; 
  height: auto;
  background-color: var(--color-white);
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000; /* Overlaydan yuqorida bo‘lishi kerak */
}

.modal div img {
  width: 42px;
  height: 42px;
  border-radius:4px;
}

.modalTitle {
  font-weight: 700;
  font-size: 44px;
  color: var(--color-rose-900);
}
.modalSubTitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-rose-900);
}

.modalList{
  max-height: 250px;
  height: 100%;
  overflow-y: auto;
}

.modalDecription {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-00);
  gap: var(--spacing-300);
  border-radius: 8px;
}
.modalDescriptionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_image_text {
  display: flex;
  gap: 16px;
  align-items:start;

}
.textTitle {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-900);
}
.textText {
  display: flex;
  align-items: start;
  gap: 8px;
}
.text-length {
  font-weight: 600;
  font-size: var(--font-size-preset-4);
  color: var(--color-red);
}
.text-price {
  font-weight: 400;
  font-size: var(--font-size-preset-4);
  color: var(--color-rose-500);
}
.priseModal {
  font-weight: 600;
  font-size: var(--spacing-200);
  color: var(--color-rose-900);
}

.sendButton {
  width: 100%;
  margin-top: 3rem;
  border-radius: 999px;
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
  padding-left: var(--spacing-300);
  padding-right: var(--spacing-300);
  max-height: 53px;
  height: 100%;
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--spacing-200);
}

/* modal end */

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .desktop-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  .product-image {
    width: 100%;
    max-height: 212px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: var(--spacing-100);
  }
  @media (max-width: 480px) {
    .modal {
        width: 100%; 
        max-width: 480px;
        padding: 15px;
        height: auto;
        margin-top: 10%;
    }
}

}
